.coursesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;

}

.coursesContainer h4{
font-size: 3rem; 
margin-top: 0;
margin-bottom: 0;
}

.coursesContainer h4 span{
  color: burlywood;
}

.coursesContainer p{
  font-size: 1.2rem;
  margin-top: 0px;
  width: 1000px;
}

.coursesContainer button{
    background-color: #3d231b;
    color: #ffff;
    font-weight: bold;
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
  }
  
  
  
  .coursesContainer button:hover{
    border: 1px solid #3d231b;
    background-color: #ffff;
    color:#3d231b;
  
  }