.pageContainer {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px 20px 20px;
  background: #3d231bff;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.pageContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  
}

.searchBox{
  border-radius: 5px;
  width: 200px;
  height: 35px;
}