

.heroSection {
    padding: 10rem 4rem 10rem 18rem;
    clip-path: ellipse(100% 100% at 40% 0%);
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    flex-direction: column;
    font-size: 1.5em;
    margin: 0 auto;
  }

  .heroSection p{
    font-size: 1em;
    margin-top: -10px;
    width: 800px;
  }

  .heroSection h1 {
    margin-top: 0;
  }

  .otherHeroSection {
    padding: 10rem 4rem 10rem 18rem;
      /* padding: 8rem 4rem 4rem 2rem; */
      background:#3d231b;
      color: white;
      width: 100vw;
      max-width: 1200px;
      align-items:center;
      clip-path: ellipse(100% 100% at 40% 0%);
    }


  .hero_image {
    position: absolute;
    width: 1300px;
    height: 50%;
    object-fit: cover;
  }
  

  .hero_content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 280px;
    padding: 40px;
    border-radius: 20px;
  }

  .backgroundDarkEffect{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
  }


  .cta_btn {
    display: inline-block;
    padding: 10px 20px;
    background: #F5F5DC;
    color: #3d231b;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s ease, color 0.3s ease;
  }
  
  .cta_btn:hover {
    background: #3d231b; 
    color: #F5F5DC; 
  }


 
  