.typingEffect {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3d231b;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #3d231b; 
    animation: typing 5s steps(60, end) infinite, blink 0.7s infinite;
  }

  .textContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }