@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}

:root {
  --primary-bg: white;
  --primary-text: #3d231b;
  --secondary-text: #555;
  --input-bg: #f8f8f8;
  --button-bg: #3d231b;
  --button-hover: #5a3225;
  --border-color: #ccc;
} */