.previousAndPastEventsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .textContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .textContainer h2 {
    font-size: 3rem; 
    color: #333;
  }
  

  .previousAndPast {
    position: relative;
    width: 18%; 
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    background: #3d231b;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .previousAndPast:hover{
    transition: transform 0.9s ease-in;
  transform: scale(1);
  border: 1px solid #3d231b;
  background-color: #Ffff;
  color:#3d231b;
    }
  
  .previousAndPast h3 {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
  }

  .textContainer h2 span {
    color: burlywood;
  }
  
  .previousAndPast p {
    font-size: 14px;
    color: #555;
  }
  
 
 
  